html {
    position: relative;
    min-height: 100%;
}

body {
	background-color:#FFFFFF;
    padding-bottom: 20px;
    margin-bottom: 100px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
