<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dwl.rep.dao.ReportInfoMapper">
  <resultMap id="BaseResultMap" type="com.dwl.rep.pojo.ReportInfo">
    <id column="rep_id" jdbcType="VARCHAR" property="repId" />
    <result column="rep_name" jdbcType="VARCHAR" property="repName" />
    <result column="templet" jdbcType="VARCHAR" property="templet" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="data_id" jdbcType="VARCHAR" property="dataId" />
    <result column="is_cache" jdbcType="VARCHAR" property="isCache" />
    <result column="corn_time" jdbcType="VARCHAR" property="cornTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <collection property="details"  ofType="com.dwl.rep.pojo.ReportDetail">  
        <id column="id" jdbcType="VARCHAR" property="id" />
	    <result column="rep_id" jdbcType="VARCHAR" property="repId" />
	    <result column="header_id" jdbcType="VARCHAR" property="headerId" />
	    <result column="sec_header_id" jdbcType="VARCHAR" property="secHeaderId" />
	    <result column="is_sum" jdbcType="VARCHAR" property="isSum" />
	    <result column="type" jdbcType="VARCHAR" property="type" />
	    <result column="orders" jdbcType="INTEGER" property="orders" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    rep_id, rep_name, templet, result, data_id,is_cache, corn_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from report_info
    where rep_id = #{repId,jdbcType=VARCHAR}
  </select>
  <select id="getInfoList" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from report_info
  </select>
  <select id="selectWithDetailById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select info.*,detail.* from report_info info ,report_detail detail where info.rep_id =detail.rep_id
    and info.rep_id = #{repId,jdbcType=VARCHAR} order by orders
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from report_info
    where rep_id = #{repId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.dwl.rep.pojo.ReportInfo">
    insert into report_info (rep_id, rep_name, templet, 
      result, data_id,is_cache, corn_time, 
      update_time)
    values (#{repId,jdbcType=VARCHAR}, #{repName,jdbcType=VARCHAR}, #{templet,jdbcType=VARCHAR}, 
      #{result,jdbcType=VARCHAR}, #{dataId,jdbcType=VARCHAR},#{isCache,jdbcType=VARCHAR}, #{cornTime,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.dwl.rep.pojo.ReportInfo">
    insert into report_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="repId != null">
        rep_id,
      </if>
      <if test="repName != null">
        rep_name,
      </if>
      <if test="templet != null">
        templet,
      </if>
      <if test="result != null">
        result,
      </if>
      <if test="dataId != null">
        data_id,
      </if>
      <if test="isCache != null">
        is_cache,
      </if>
      <if test="cornTime != null">
        corn_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="repId != null">
        #{repId,jdbcType=VARCHAR},
      </if>
      <if test="repName != null">
        #{repName,jdbcType=VARCHAR},
      </if>
      <if test="templet != null">
        #{templet,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="dataId != null">
        #{dataId,jdbcType=VARCHAR},
      </if>
      <if test="isCache != null">
        #{isCache,jdbcType=VARCHAR},
      </if>
      <if test="cornTime != null">
        #{cornTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dwl.rep.pojo.ReportInfo">
    update report_info
    <set>
      <if test="repName != null">
        rep_name = #{repName,jdbcType=VARCHAR},
      </if>
      <if test="templet != null">
        templet = #{templet,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        result = #{result,jdbcType=VARCHAR},
      </if>
       <if test="dataId != null">
        data_id = #{dataId,jdbcType=VARCHAR},
      </if>
      <if test="isCache != null">
        is_cache = #{isCache,jdbcType=VARCHAR},
      </if>
      <if test="cornTime != null">
        corn_time = #{cornTime,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where rep_id = #{repId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dwl.rep.pojo.ReportInfo">
    update report_info
    set rep_name = #{repName,jdbcType=VARCHAR},
      templet = #{templet,jdbcType=VARCHAR},
      result = #{result,jdbcType=VARCHAR},
      data_id = #{dataId,jdbcType=VARCHAR},
      is_cache = #{isCache,jdbcType=VARCHAR},
      corn_time = #{cornTime,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where rep_id = #{repId,jdbcType=VARCHAR}
  </update>
</mapper>