<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dwl.rep.dao.ReportDetailMapper">
  <resultMap id="BaseResultMap" type="com.dwl.rep.pojo.ReportDetail">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="rep_id" jdbcType="VARCHAR" property="repId" />
    <result column="dic_id" jdbcType="VARCHAR" property="dicId" />
    <result column="dic_name" jdbcType="VARCHAR" property="dicName" />
    <result column="is_sum" jdbcType="VARCHAR" property="isSum" />
    <result column="col_name" jdbcType="VARCHAR" property="colName" />
    <result column="type" jdbcType="VARCHAR" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    id, rep_id, dic_id, dic_name, is_sum, col_name, type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from report_detail
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from report_detail
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.dwl.rep.pojo.ReportDetail">
    insert into report_detail (id, rep_id, dic_id, 
      dic_name, is_sum, col_name, 
      type)
    values (#{id,jdbcType=VARCHAR}, #{repId,jdbcType=VARCHAR}, #{dicId,jdbcType=VARCHAR}, 
      #{dicName,jdbcType=VARCHAR}, #{isSum,jdbcType=VARCHAR}, #{colName,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dwl.rep.pojo.ReportDetail">
    insert into report_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="repId != null">
        rep_id,
      </if>
      <if test="dicId != null">
        dic_id,
      </if>
      <if test="dicName != null">
        dic_name,
      </if>
      <if test="isSum != null">
        is_sum,
      </if>
      <if test="colName != null">
        col_name,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="repId != null">
        #{repId,jdbcType=VARCHAR},
      </if>
      <if test="dicId != null">
        #{dicId,jdbcType=VARCHAR},
      </if>
      <if test="dicName != null">
        #{dicName,jdbcType=VARCHAR},
      </if>
      <if test="isSum != null">
        #{isSum,jdbcType=VARCHAR},
      </if>
      <if test="colName != null">
        #{colName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dwl.rep.pojo.ReportDetail">
    update report_detail
    <set>
      <if test="repId != null">
        rep_id = #{repId,jdbcType=VARCHAR},
      </if>
      <if test="dicId != null">
        dic_id = #{dicId,jdbcType=VARCHAR},
      </if>
      <if test="dicName != null">
        dic_name = #{dicName,jdbcType=VARCHAR},
      </if>
      <if test="isSum != null">
        is_sum = #{isSum,jdbcType=VARCHAR},
      </if>
      <if test="colName != null">
        col_name = #{colName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dwl.rep.pojo.ReportDetail">
    update report_detail
    set rep_id = #{repId,jdbcType=VARCHAR},
      dic_id = #{dicId,jdbcType=VARCHAR},
      dic_name = #{dicName,jdbcType=VARCHAR},
      is_sum = #{isSum,jdbcType=VARCHAR},
      col_name = #{colName,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>